/* .custom-btn-dark {
    background-color: black;
    color: white;
}

.custom-btn-light {
    background-color: white;
    color: black;
} */

body.dark {
    background-color: black;
}

body.light {
    background-color: white;
}

input {
}
